@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#root {
	background: white;
	height: 100%;
	overflow: hidden;
}
#backdrop-root {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
#overlay-root {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
